<<div class="col-12 col-sm-6 mx-auto">
    <h5 class="text-center my-3">本当に退会しますか？</h5>
    <p class="text-center my-5">
        退会すると、<br>
        これまでの活動が削除されます。<br>
        退会する場合は、「退会する」をクリックしてください。
    </p>
    <div class="d-flex justify-content-center">
    <%= link_to '退会しない', my_page_customers_path, class: "btn btn-primary mx-3" %>
    <%= link_to "退会する", customers_withdraw_path, method: :patch, class: "btn btn-danger mx-3" %>
    </div>
</div>