{"filter":false,"title":".gitignore","tooltip":"/chichibu-map/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":30,"column":18},"end":{"row":31,"column":0},"action":"insert","lines":["",""],"id":2},{"start":{"row":31,"column":0},"end":{"row":32,"column":0},"action":"insert","lines":["",""]}],[{"start":{"row":32,"column":0},"end":{"row":32,"column":5},"action":"insert","lines":["/.env"],"id":3}]]},"ace":{"folds":[],"scrolltop":352,"scrollleft":0,"selection":{"start":{"row":32,"column":5},"end":{"row":32,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":21,"state":"start","mode":"ace/mode/ini"}},"timestamp":1623392115507,"hash":"4e64a0ee49994e97cdc939be2929c58bd74d34fe"}