// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//* ================ store====================================

.profile-img {
   background-size: cover;
   background-position: 40% 70%;
   height: 30rem;
   width: 100%;
}